.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--border);
  cursor: pointer;
}

.container h3 {
  font-weight: 500;
  font-size: 17px;
}

.container p {
  font-size: 15px;
  color: var(--secondary-text);
}
